// app.scss

@import "~bulma/sass/utilities/_all";
@import url('https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css');

// main colors
$light: rgba(250, 240, 202, 1);
$light-invert: findColorInvert($light);
$dark: rgba(13, 59, 102, 1);
$dark-invert: findColorInvert($dark);

$primary: rgba(79, 99, 103, 1);
$primary-invert: findColorInvert($primary);
$info: rgba(250, 240, 202, 1);
$info-invert: findColorInvert($info);
$warning: rgba(244, 211, 94, 1);
$warning-invert: findColorInvert($warning);
$danger: rgba(254, 95, 85, 1);
$danger-invert: findColorInvert($danger);

$big-foot-feet: rgba(238, 150, 75, 1);
$big-foot-feet: findColorInvert($big-foot-feet);


$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "big-foot-feet": ($big-foot-feet, $big-foot-feet)
);

@import '~bulma';
@import "~buefy/src/scss/buefy";
